{% extends 'AppBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h2>{% trans %}app_bundle.person.personCreate{% endtrans %}</h2>

            {{ form(form) }}

            <a class="btn btn-default pull-left" href="{{ path('person') }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {% trans %}app_bundle.message.back{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/person.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}