{% extends 'SedUniOfficeManagerAppBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row span11">
            <h2>{% trans %}sed_uniofficemanager_app_bundle.site.siteUpdate{% endtrans %}</h2>

            {{ form(edit_form) }}

            {{ form(delete_form) }}

            <a class="btn btn-default pull-left marginRight15" href="{{ path('site') }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {% trans %}sed_uniofficemanager_app_bundle.message.back{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}

