{% extends 'AppBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h2>{% trans %}app_bundle.message.welcome{% endtrans %}</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% trans %}user_bundle.message.pleaseLogIn{% endtrans %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}