{% extends 'SedUniOfficeManagerAppBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row span5">
            <h2>{% trans %}sed_uniofficemanager_app_bundle.message.redisCommander{% endtrans %}</h2>
        </div>
        <div class="row">
            <iframe style="width: 100%; height: 900px" src="http://{{ socket_ip }}:8081"></iframe>
        </div>
    </div>
{% endblock %}
