{% extends 'SedUniOfficeManagerAppBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row span5">
            <h2>{% trans %}sed_uniofficemanager_app_bundle.message.welcome{% endtrans %}</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% trans %}sed_uniofficemanager_user_bundle.message.pleaseLogIn{% endtrans %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}